.taskEntry{
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1px;
    border: 1px solid rgb(172, 158, 158);
    width: 100%;
}
.taskEntryA{
    display: flex;
    align-items: center;
    background-color: rgb(233, 215, 215);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 1px;
    border: 1px solid rgb(172, 158, 158);
    width: 100%;
}
.archieved{
    width: 10%;
}
.contnet{
    width: 80%;
}
.pinned{
    width: 10%;
    display: flex;
    justify-content: flex-end;
}